<!DOCTYPE html>
<html>
  <head>
  <title>Nudge a User</title>
</head>
<body>

<div data-role="page">

  <div data-role="header" data-theme="b">
    <h1>Nudge a Friend</h1>
  </div><!-- /header -->
  <div id="form">
    Select a friend to nudge. They will receive a text message saying you will go to <%=@event.name%> if they will.
    <form method = "post" action = "./nudge">
      <select name = "nudgee">
        <% @menu_options.each do |tar| %>
        <option value = "<%= tar.id %>"><%= tar.username %></option>
        <%end%>
      </select>
      <input type = "submit" value = "Nudge">
    </form>
  </div>

  <!-- footer navigator -->
  <div data-role="footer" id="footer" data-position="fixed">
<%= render "shared/navbar" %>
</div><!-- /footer -->

</div><!-- /page -->

</body>
</html>
