<!DOCTYPE html>
<html>
  <head>
  <title>Nudge a User</title>
</head>
<body>
<link rel="stylesheet" type="text/css" href="login.css">

<div data-role="page">

  <div data-role="header" data-theme="b">
    <h1>IGYIG</h1>
  </div><!-- /header -->
  <div id="form">
    Select a user to nudge
    <form method = "post" action = "./nudge">
      <select name = "nudgee">
        <% @menu_options.each do |tar| %>
        <option value = "<%= tar.id %>"><%= tar.username %></option>
        <%end%>
      </select>
      <input type = "submit" value = "Nudge">
    </form>
  </div>

  <!-- footer navigator -->
  <div data-role="footer" id="footer" data-position="fixed">
  <div data-role="navbar">
    <ul>
      <li><a href="b.html">Back</a></li>
      <li><a href="c.html">Home</a></li>
      <li><a href="d.html">My Profile</a></li>
      <li><a href="e.html">Logout</a></li>
    </ul>
  </div><!-- /navbar -->
</div><!-- /footer -->

</div><!-- /page -->

</body>
</html>
