<div data-role="page">
  <div data-role="header">
    <h1>Edit Event: <%= @event.reload.name %></h1>
  </div>
  <div data-role="content">
    <%= render "form" %>
  </div>
  <div data-role="footer" data-position="fixed" data-tap-toggle="false" class="jqm-footer">
    <%= render "shared/navbar" %>
  </div>
</div>
