<style>
  .ui-page, body {
    background-position-x: -150px;
    background-size: 500px;
    background-image: url(<%= asset_path 'login_background.jpg' %>);
    background-attachment: fixed;
  }
</style>
<div data-role="page">
  <div id = "rwm" class="centered">
    <h1 id = "rwmh">RIDEW/ME</h1>
  </div>
  <% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
  <% end %>
  <div id="main-login-form" class="form-partial-container">
    <%= render partial: "/shared/login" %>
  </div>
</div><!-- /page -->
