<!DOCTYPE html>
<html>
  <head>
  <title>My Page</title>
</head>

<style>
  .ui-page, body {
    background-position-x: -150px;
    background-size: 500px;
    background-image: url(<%= asset_path 'login_background.jpg' %>);
    background-attachment: fixed;
  }
</style>

<body>

<div data-role="page">

  <div data-role="header" data-theme="b">
    <h1>Welcome</h1>
  </div><!-- /header -->
  <div id = "rwm" class="centered">
    <h1 id = "rmwh">Ride W/ Me</h1>
  </div>
  <div id="main-login-form" class="form-partial-container">
    <%= render partial: "/shared/login" %>
    <%= link_to 'Forgot password?', new_password_reset_path, class: 'centered', "data-role" => "button" %>
  </div>

</div><!-- /page -->

</body>
</html>
