<div data-role="page">
  <div data-role="header">
    <h1>Create an Account</h1>
  </div><!-- /header -->
  <% if ENV["DISABLE_REGISTRATIONS"] == "TRUE" %>
  We’re sorry, but we have temporarily disabled registration for new users while we investigate an issue with the system. Please try registering again later.
  <% else %>
  <div data-role="tabs">
    <div data-role="navbar">
        <ul>
          <li><a href="#student" data-theme="a" data-ajax="false">Student</a></li>
          <li><a href="#parent" data-theme="a" data-ajax="false">Parent</a></li>
        </ul>
    </div>
    <div id="student" class="ui-content">
      <%= render partial: "/students/form" %>
    </div>
    <div id="parent" class="ui-content">
      <%= render partial: "/parents/form" %>
    </div>
</div>
  <% end %>
  <!-- footer navigator -->
  <div data-role="footer" data-id="foo1" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><%= link_to 'Back', :back, data:{ajax: "false"} %></li>
        <li><a href="/dashboard.html">Home</a></li>
        <li><%= link_to("Logout", logout_path, :method => :delete) %></li>
      </ul>
    </div><!-- /navbar -->
  </div><!-- /footer -->
</div><!-- /page -->
