.ui-panel .ui-panel-inner {
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  -webkit-overflow-scrolling: touch;
  }

.error {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #fff;
  font-weight: bold;
  font-size: 20px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background-color: red;
  text-align: center;
}
