<div data-role="page">
  <div data-role="header">
    <h1>Create an Account</h1>
  </div><!-- /header -->
  <div data-role="content">
    <div data-role="controlgroup">
      <%= link_to "Register as a student", new_student_path, data: { role: "button", ajax: false } %>
      <%= link_to "Register as a service provider", new_service_provider_path, data: { role: "button", ajax: false } %>
    </div>
  </div>
  <div data-role="footer" data-id="foo1" data-position="fixed">
    <%= render "shared/navbar" %><!-- /navbar -->
  </div><!-- /footer -->
</div>
