<!DOCTYPE html> 
<html> 
  <head> 
  <title>My Page</title> 
</head>
<body>


<div data-role="page">

  <div data-role="header">
    <h1>Weclome Index</h1>
  </div><!-- /header -->
    <div id="terms-of-service">
      <em>ToS and Privacy Policy</em>
      Legalese goes here
    </div>
    <form method = "POST"  action = "/register/tos">
      <input type = "hidden" name = "tos" value = "agree" />
      <input type = "submit" value = "I understand and agree to the Terms of Service" />
    </form>
    <form method = "POST" action = "/register/tos">
      <input type = "hidden" name = "tos" value = "disagree" />
      <input type = "submit" value = "I do not agree to the Terms of Service" />
    </form>
  <!-- footer navigator -->
  <div data-role="footer" data-id="foo1" data-position="fixed">
  <div data-role="navbar">
    <ul>
      <li><a href="login/login">Login</a></li>
      <li><a href="b.html">Friends</a></li>
      <li><a href="c.html">Albums</a></li>
      <li><a href="d.html">Emails</a></li>
    </ul>
  </div><!-- /navbar -->
</div><!-- /footer -->

</div><!-- /page -->

</body>
</html>