<!DOCTYPE html> 
<html> 
  <head> 
  <title>Dashboard</title>
</head>
<body>


<div data-role="page">

  <div data-role="header">
    <h1>Dashboard</h1>
  </div><!-- /header -->

  <div data-role="collapsible" data-collapsed="true">
    <h4>My Events</h4>
      <ul data-role="listview">
        <li><a href="#">List item 1</a></li>
        <li><a href="#">List item 2</a></li>
        <li><a href="#">List item 3</a></li>
        <li><a href="#">List item 4</a></li>
        <li><a href="#">List item 5</a></li>
    </ul>
  </div>

  <div data-role="collapsible" data-collapsed="true">
    <h4>Trending</h4>
      <ul data-role="listview">
        <li><a href="#">List item 1</a></li>
        <li><a href="#">List item 2</a></li>
        <li><a href="#">List item 3</a></li>
    </ul>
  </div>

  <div data-role="collapsible" data-collapsed="true">
    <h4>Find Events</h4>
      <ul data-role="listview">
        <li><a href="#">Today</a></li>
        <li><a href="#">Tomorrow</a></li>
        <li><a href="#">This Week</a></li>
    </ul>
  </div>

  <!-- footer navigator -->
  <div data-role="footer" data-id="foo1" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><a href="login/login">Login</a></li>
        <li><a href="b.html">Friends</a></li>
        <li><a href="c.html">Albums</a></li>
        <li><a href="d.html">Emails</a></li>
      </ul>
    </div><!-- /navbar -->
  </div><!-- /footer -->

</div><!-- /page -->

</body>
</html>