<!DOCTYPE html> 
<html> 
  <head> 
  <title>Index</title> 
</head>
<body>

<div data-role="page">

  <div data-role="header">
    <h1>Index</h1>
  </div><!-- /header -->

  <div data-role="content">
    <p>Hello world</p>
  </div><!-- /content -->

  <div id="slider-1"></div>
  <div id="hint"></div>

  <!-- slider
  <div data-role="fieldcontain">
  <label for="rideOption">Input slider:</label>
  <input type="range" name="rideOption" id="rideOption" value="1" min="0" max="2" data-theme="a" data-track-theme="b" />
</div> -->

  <!-- footer navigator -->
  <div data-role="footer" data-id="foo1" data-position="fixed">
  <div data-role="navbar">
    <ul>
      <li><a href="#/login">Login</a></li>
      <li><a href="b.html">Friends</a></li>
      <li><a href="c.html">Albums</a></li>
      <li><a href="d.html">Emails</a></li>
    </ul>
  </div><!-- /navbar -->
</div><!-- /footer -->

</div><!-- /page -->

</body>
</html>