<!DOCTYPE html> 
<html> 
  <head> 
  <title>My Page</title> 
</head>
<body>


<div data-role="page">

  <div data-role="header">
    <h1>Weclome Index</h1>
  </div><!-- /header -->
  
  <!-- footer navigator -->
  <div data-role="footer" data-id="foo1" data-position="fixed">
  <div data-role="navbar">
    <ul>
      <li><a href="b.html">Back</a></li>
      <li><a href="c.html">Home</a></li>
      <li><%= link_to("Logout", logout_path, :method => :delete) %></li>
    </ul>
  </div><!-- /navbar -->
</div><!-- /footer -->

</div><!-- /page -->

</body>
</html>
