<!DOCTYPE html> 
<html> 
  <head> 
  <title>My Page</title>
</head>
<body>


<div data-role="page">

  <div data-role="header">
    <h1>My Title</h1>
  </div><!-- /header -->

  <div data-role="content">
    <p>Hello world</p>
  </div><!-- /content -->

  <label for="flip-1">Today</label>
  <select name="flip-1" id="flip-1" data-role="slider">
    <option value="no">NO</option>
    <option value="yes">YES</option>
  </select> 

  <!-- footer navigator -->
  <div data-role="footer" data-id="foo1" data-position="fixed">
  <div data-role="navbar">
    <ul>
      <li><a href="login/login">Login</a></li>
      <li><a href="b.html">Friends</a></li>
      <li><a href="c.html">Albums</a></li>
      <li><a href="d.html">Emails</a></li>
    </ul>
  </div><!-- /navbar -->
</div><!-- /footer -->

</div><!-- /page -->

</body>
</html>