<!DOCTYPE html>
<html>
<head>
  <title>Index</title>
</head>
<body>

  <script>
    var events_json = $.ajax({
        method: "get",
        url: "/events/all",
        dataType: "json",
      })
    console.log(events_json)
  </script>

  <div data-role="page">

    <div data-role="panel" id="myPanel" data-display="reveal">
      <h2>Catagories</h2>

      <div>
        <div class="toggle-option">
          <label class="switch-label" for="flip-3">Football</label>
          <select name="flip-3" id="flip-3" data-role="flipswitch" data-mini="true">
            <option value="off">Off</option>
            <option value="on">On</option>
         </select>
        </div>
        <div class="toggle-option">
          <label class="switch-label" for="flip-3">Camp</label>
          <select name="flip-3" id="flip-3" data-role="flipswitch" data-mini="true">
            <option value="off">Off</option>
            <option value="on">On</option>
          </select>
        </div>
        <div class="toggle-option">
          <label class="switch-label" for="flip-3">Recreational</label>
          <select name="flip-3" id="flip-3" data-role="flipswitch" data-mini="true">
            <option value="off">Off</option>
            <option value="on">On</option>
          </select>
        </div>
        <div class="toggle-option">
          <label class="switch-label" for="flip-3">Basketball</label>
          <select name="flip-3" id="flip-3" data-role="flipswitch" data-mini="true">
            <option value="off">Off</option>
            <option value="on">On</option>
          </select>
        </div>
        <div class="toggle-option">
          <label class="switch-label" for="flip-3">Tennis</label>
          <select name="flip-3" id="flip-3" data-role="flipswitch" data-mini="true">
            <option value="off">Off</option>
            <option value="on">On</option>
          </select>
        </div>
        <div class="toggle-option">
          <label class="switch-label" for="flip-3">Aquatic</label>
          <select name="flip-3" id="flip-3" data-role="flipswitch" data-mini="true">
            <option value="off">Off</option>
            <option value="on">On</option>
          </select>
        </div>
        <div class="toggle-option">
          <label class="switch-label" for="flip-3">Gymnastics</label>
          <select name="flip-3" id="flip-3" data-role="flipswitch" data-mini="true">
            <option value="off">Off</option>
            <option value="on">On</option>
          </select>
        </div>
        <div class="toggle-option">
          <label class="switch-label" for="flip-3">Fitness</label>
          <select name="flip-3" id="flip-3" data-role="flipswitch" data-mini="true">
            <option value="off">Off</option>
            <option value="on">On</option>
          </select>
        </div>
        <div class="toggle-option">
          <label class="switch-label" for="flip-3">Other</label>
          <select name="flip-3" id="flip-3" data-role="flipswitch" data-mini="true">
            <option value="off">Off</option>
            <option value="on">On</option>
          </select>
        </div>

      </div>
    </div> <!-- /panel -->

    <div data-role="header">
      <h1>Index</h1>
      <a href="#myPanel" class="ui-btn ui-shadow ui-corner-all ui-icon-bars ui-btn-icon-notext"></a>
      </div><!-- /header -->
    </div>

    <div>

    </div><!-- body -->

  </div><!-- /page -->

</body>
</html>