<!DOCTYPE html>
<html>
  <head>
  <title>Join</title>
<link rel="stylesheet" type="text/css" href="join.css">
</head>
<body>

<div data-role="page">

  <div data-role="header">
    <h1>Join</h1>
  </div><!-- /header -->

  <div id="buttons">
    <form method="GET" action="/events/<%=params[:id]%>/store_user_commitment" data-ajax="false">
      <input type = "hidden" name = "commitment" value = "Yes" />
      <input type="submit" id="going" value="GOING!"></input>
    </form>
    <form method="GET" action="/events/<%=params[:id]%>/store_user_commitment" data-ajax="false">
      <input type = "hidden" name = "commitment" value = "Maybe" />
      <input type="submit" id="maybeeee" value="MAYBE"></input>
    </form>
    <form method="GET" action="/events/<%=params[:id]%>/nudge">
      <input type="submit" id="igiyg" value="I'll Go If You Go"></input>
    </form>

    <form>
<!--     <div class="ui-input-btn ui-btn ui-shadow">
        Going!
        <input type="button" data-enhanced="true" value="Enhanced">
    </div>
    <h2>#</h2>
    <div class="ui-input-btn ui-btn ui-shadow">
        Maybe
        <input type="button" data-enhanced="true" value="Enhanced">
    </div>
    <h2>#</h2>
    <div class="ui-input-btn ui-btn ui-shadow">
        I'll Go if You Go
        <input type="button" data-enhanced="true" value="Enhanced">
    </div>
    <h2>#</h2> -->
</form>
  </div><!-- body -->

  <!-- footer navigator -->
  <div data-role="footer" data-id="foo1" data-position="fixed">
  <div data-role="navbar">
    <ul>
      <li><%= link_to("Logout", logout_path, :method => :delete) %></li>
      <li><a href="b.html">Friends</a></li>
      <li><a href="c.html">Albums</a></li>
      <li><a href="d.html">Emails</a></li>
    </ul>
  </div><!-- /navbar -->
</div><!-- /footer -->

</div><!-- /page -->

</body>
</html>
