#body {
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	text-align: center;
}

#event {
	text-align: center;
}

#location {
	text-align: center;
}

#dt {
	text-align: center;
}

#desc {
	text-align: center;
}

#user {
	text-align: center;
}

#school {
	text-align: center;
}

#attendee {
	text-align: center;
}

#join {
	position: center;
	right: 3em;
	left: 3em;
}