#form {
    top: 70%;
    left: 50%;
    width: 60%;
}

.fixed-form {
	position: fixed;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.form-partial-container {
	margin: 0 auto;
}

.centered {
  text-align: center;
}
