#form {
    top: 70%;
    left: 50%;
    width: 60%;
}

.fixed {
	position: fixed;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.form-partial-container {
	margin: 0 auto;
}

.centered {
  text-align: center;
}

.ui-page, body {
  background-position-x: -150px;
  background-size: 500px;
  background-image: url("https://703776390ca6a57878ac07d8581c71c708895809.googledrive.com/host/0B-EZWDUirQ46fjQtUzN1VG80eWdzdERtYjMzcTg3S19VeGlWR3FfUGJpOEFEZmtVQmh4SFk/Assets/Icons/ridewitme_2000x1500.jpg");
}
